*,
*:after,
*:before { 
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

:root { 
  --black: (#0D0520);
  --write: (#BAACDD);
  --blue: (#9CA5F8);
  --dark: (#27274d);
  --gray: (#515151);
  --purple-black: (#160925);
  --purple-light-n2: (#B988E3);
}

/* Regras especiais */

html { 
  scroll-behavior: smooth;
}

body * { 
  color: #BAACDD;
  font-family: 'tt0 light', sans-serif;
}

body { 
  height: 100vh;
  background: #1F0439;
  overflow-x: hidden;
}

.margin-top { 
  margin-top: 20px;
}

.padding-top { 
  padding-top: 20px;
}

.font-medium { 
  font-family: 'tt0 medium', sans-serif;
}

.center { 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Seção do Nav */

/* Não sabia fazer o efeito transparente e tive que usar IA */

.bg-transparent-nav {
   /* Cor de fundo com transparência */
  background-color: rgba(44, 44, 44, 0.3);
  
  /* Efeito de desfoque (blur) */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Compatibilidade Safari */
  
  /* Borda sutil para destacar */
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
}

@media (max-width:786px) {
  .bg-transparent-nav {
    width: 90%;
  }
}

.p-20px { 
  padding: 20px;
}

.pb-50px { 
  padding-bottom: 50px;
}

.pt-50px { 
  padding-top: 50px;
}

.p-50px{
  padding: 50px;
}

@media (max-width:768px) {
  #sobre {
    padding: 50px 40px 50px 40px;
  }
}

#increaseSize {
  font-family: 'tt0 medium', sans-serif;
}

/* Seção de Inicial */

#inicio {
  background-color: #160925;
  padding: 100px 20px 150px 40px;
  #foto {
    width: 280px;
  }
}

@media (max-width: 780px) {
  #inicio {
    padding: 80px 40px 120px 40px;
    #foto{
        width: 200px;
        }
    }
}

#sobre {
  padding: 80px 150px 50px 120px;
}

#conteinerInfo p {
  padding: 20px 0px 0px 0px;
}

#foto {
  transform: rotateZ(-50deg);
}

#Elipse1 {
  /* Ellipse 1 */

  padding: 5px;
  border-radius: 180px 120px 180px 120px;
  transform: rotateZ(25deg);
  background: #6a2f9e52;
}

#Elipse2 {
  /* Ellipse 2 */
  padding: 5px;
  border-radius: 180px 120px 180px 120px;
  transform: rotateZ(25deg);
  background: #6a2f9e52;
}


/* Seção de experiencia */

#experiencia {
  padding: 30px 145px 160px 190px;
}

@media (max-width: 780px) {
  #experiencia {
    padding: 30px 40px 160px 40px;
  }
}

/* Seção de Skill */

#skills {
  padding: 30px 0px 0px 0px;
}

/*Galeria de Projetos*/




/*Regras dos card*/

.img_portfolio {
  width: 500px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 780px) {
  .img_portfolio {
    width: 60%;
    max-width: 500px;
    height: auto;
    max-height: 200px;

  }
}

/*Rotapé*/

footer { 
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 60px 90px;
}

footer a { 
  color: rgb(255, 255, 255);
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
  max-width: 350px;
}

footer p a { 
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer p a:hover { 
  color: #BAACDD;
}
