* {
  box-sizing: border-box;
}

:root { 
  --black: #0D0520;
  --white: #BAACDD;
  --blue: #9CA5F8;
  --dark: #27274d;
  --gray: #515151;
  --purple-black: #160925;
  --purple-light-n2: #B988E3;
}

/* Regras especiais */

html { 
  scroll-behavior: smooth;
}

body * { 
  color: #BAACDD;
  font-family: 'tt0 light', sans-serif;
}

body { 
  background: #1F0439;
  overflow-x: hidden;
}

.margin-top { 
  margin-top: 20px;
}

.padding-top { 
  padding-top: 20px;
}

.font-medium { 
  font-family: 'tt0 medium', sans-serif;
}

/* Seção do Nav */

/* Não sabia fazer o efeito transparente e tive que usar IA */

/* @media (max-width: 620px) {
  #menu {
    display: flex;
    justify-content: end;
    color: white;
    cursor: pointer;

    .bi {
      font-size: 24px;
    }
  }

  nav ul {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
  }
}

@media (min-width: 621px) {
  #menu {
    display: none;
  }
} */


.bg-transparent-nav {
   /* Cor de fundo com transparência */
  background-color: rgba(44, 44, 44, 0.3);
  
  /* Efeito de desfoque (blur) */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Compatibilidade Safari */
  
  /* Borda sutil para destacar */
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  
  padding: 15px;
}

.p-20px { 
  padding: 20px;
}

.pr-15px { 
  padding-right: 15px;
}

.pr-20px { 
  padding-right: 20px;
}

.pt-20px { 
  padding-top: 20px;
}

.pb-20px { 
  padding-bottom: 20px;
}

.pb-50px { 
  padding-bottom: 50px;
}

.pt-50px { 
  padding-top: 50px;
}

.pl-20px { 
  padding-left: 20px;
}

.p-50px{
  padding: 50px;
}

#increaseSize {
  font-family: 'tt0 medium', sans-serif;
}

/* Seção de Inicial */

#inicio {
  background-color: #160925;
  padding: 180px 20px 270px 40px;
}

#inicio #foto {
  width: 280px;
}

@media (max-width: 1025px) {
  #inicio {
    padding: 100px 20px 192px 40px;
    #foto{
        width: 200px;
        }
    }
}

#sobre {
  padding: 80px 150px 50px 120px;
}

@media (max-width:768px) {
  #sobre {
    padding: 50px 0px 50px 40px;
  }
}


#conteinerInfo p {
  padding: 20px 0px 0px 0px;
}

#foto {
  transform: rotateZ(-50deg);
}

#Elipse1 {
  /* Ellipse 1 */

  padding: 5px;
  border-radius: 180px 120px 180px 120px;
  transform: rotateZ(25deg);
  background: #6a2f9e52;
}

#Elipse2 {
  /* Ellipse 2 */
  padding: 5px;
  border-radius: 180px 120px 180px 120px;
  transform: rotateZ(25deg);
  background: #6a2f9e52;
}


/* Seção de experiencia */

#experiencia {
  padding: 30px 0px 160px 30px;
}

@media (max-width: 780px) {
  #experiencia {
    padding: 30px 0px 160px 40px;
  }
}

/* Seção de Skill */

#skills {
  padding: 30px 0px 0px 0px;
  h2 {
    padding: 0px 0px 0px 40px;
  }
}

/*Galeria de Projetos*/




/*Regras dos card*/

.img_portfolio {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@media (max-width: 780px) {
  .img_portfolio {
    height: auto;
    max-height: 200px;

  }
}

/*Rotapé*/

footer { 
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 60px 90px;
}

footer a { 
  color: rgb(255, 255, 255);
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}

footer p a { 
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer p a:hover { 
  color: #BAACDD;
}
